@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos al centro */
  justify-content: space-between;
  font-size: medium;
  background-color: #37e3b4;
  padding: 10px 20px;
  border-radius: 60px;
  max-width: 90%;
  width: 100%;
  margin: 1.6% auto;
  padding: 1.6% ;
}

header img {
  height: auto; 
  max-height: 80px; 
  width: auto;
  max-width: 100%; 
  margin-left: 2%;
}

h3 {
  font-weight: bold;
  margin: 2px auto;
  margin-right: 40px;
  font-size: medium;
}
h1 {
margin:0% auto;
font-weight: bolder;
}
button {
  font-weight: 600;
  font-size: medium;
}
.pr{
  display: flex;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


